frameworks/Foundation/base.xcodeproj/xcuserdata/
frameworks/libobjc2/Test/RuntimeTest.xcodeproj/xcuserdata/
.DS_Store
Build
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcshareddata
